<ng-container *ngIf="data$ | async as data">
  <div *ngIf="data.isLoading" class="flex align-items-center">
    <p-progressSpinner></p-progressSpinner>
    <span>{{'FEED.LOADING' | translate}}</span>
  </div>
  <p-messages *ngIf="data.error" severity="error">
    <ng-template pTemplate>
      <i class="pi pi-exclamation-triangle"></i>
      <div class="ml-2">{{'FEED.ERROR' | translate}}</div>
      <p-button class="ml-2" [label]="'FEED.RETRY' | translate" styleClass="p-button-danger"
        (click)="fetchFeed()"></p-button>
    </ng-template></p-messages>
  <ng-container *ngIf="data.feed">
    <div class="flex flex-column gap-4">
      <p-card [header]="article.title" [subheader]="(article?.createdAt | date) ?? '' "
        *ngFor="let article of data.feed.articles">
        <div class="flex align-items-center justify-content-between">
          <div>
            <a [routerLink]="['/profiles', article.author.username]">
              <p-avatar shape="circle" [image]="article.author.image"></p-avatar>
            </a>
            <a [routerLink]="['/profiles', article.author.username]">
              <p-button [label]="article.author.username" styleClass="p-button-link"></p-button>
            </a>
          </div>
          <p-button icon="pi pi-heart" [label]="article.favoritesCount.toString()"
            styleClass="p-button-rounded p-button-help"></p-button>
        </div>
        <p>{{ article.description }}</p>
        <div class="flex justify-content-between">
          <span>{{'FEED.READ_MORE' | translate}}</span>
          <div class="flex gap-1">
            <p-tag [value]="tag" *ngFor="let tag of article.tagList"></p-tag>
          </div>
        </div>
      </p-card>
    </div>
  </ng-container>
  <p-paginator class="block mt-4" (onPageChange)="onPageChange($any($event))" [first]="first" [rows]="rows"
    [totalRecords]="data.feed?.articlesCount!" [rowsPerPageOptions]="[5, 10, 20, 30]"></p-paginator>
</ng-container>